[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
python-vlc = "*"
keyboard = "*"
nui = {git = "https://github.com/TheNovi/Nui.git"}

[requires]
python_version = "3.9"
